body
	background: #222
	color: #ddd
	text-align: center
	font:
		family: sans-serif
		size: 18px
	h1
		margin: 40px auto
		font-size: 30px
	a
		display: block
		width: 250px
		height: auto
		background: green
		color: #ddd
		text-decoration: none
		padding: 15px 25px
		margin: 20px auto
		&.csoon
			background: #575656
			// color: #fff
		